{% extends 'base.html' %}
{%load staticfiles%}



{%block content%}

<div class="grid-x">

<div class="large-2 cell">
</div>
  <div class="large-8 generic_card cell">
    <div class="grid-x">

    <div class="large-6 cell">

      <div class="homeTitle" style="text-align:center; padding:1em;"> {{data.title}}
      </div>
      <div class="homeMsg" style="text-align:center; padding:0em;"> {{data.info}}
      </div>
    </div>

    <div class="large-6 cell">
      <div>
      <img style="max-width: 100%; height: auto;" src="{% static "images/sample1.jpg" %}"/>
    </div>
  </div>

  </div>
</div>
  <div class="large-2 cell">
  </div>
</div>
  <!-- all da crap go here -->



  <div class="large-2 cell">
  </div>
  </div>

</div>

{%endblock%}
